{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil -
    {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Liste des annonces</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par
                {{ advert.author }}, le
                {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block ocplatform_categories %}
    <h2>Liste des catégories</h2>

    {% for category in listCategory %}
        <li>
            <a href="{{ path('oc_platform_list_from_category', {'name': category.name}) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
{% endblock %}